node_modules
dist
.next
.env
.env.local
.env.*.local
logs
coverage

.vercel
mwd-app-be/node_modules
mwd-app-be/dist
mwd-app-be/.env
mwd-app-be/.env.local
mwd-app-be/.env.*.local
mwd-app-fe/node_modules
mwd-app-fe/.next
mwd-app-fe/.env
mwd-app-fe/.env.local
mwd-app-fe/.env.*.local

.env.*
!.env.example
tests/results/
playwright-report/
test-results/
